{{#if resume.interestsEnabled}}
  <section class="resume-section">
    <section class="sectionLeft">
      <h2 class="resumeSection">Interests</h2>
    </section>
    <section class="sectionRight">
      <div id="interests" class="list">
        <ul id="interests">
          {{#each resume.interests}}
            <li class="interest">
              {{#if name}}
                <h3 class="title">{{name}}</h3>
              {{/if}}
              {{#if keywords.length}}
                <div>
                  <p>
                    {{#each keywords}}
                      <span class="keyword lowercase">{{.}}</span>
                    {{/each}}</p>
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
    <div class="clearfix"></div>
  </section>
{{/if}}
