{{#if resume.skillsEnabled}}
  <section class="resume-section">
    <section class="sectionLeft">
      <h2 class="resumeSection">Skills</h2>
    </section>
    <section class="sectionRight" id="skills" class="list">
      {{#each resume.skills}}
        <div class="skills">
          {{#if name}}
            <h3 class="title">
              {{name}}
              {{#if level}}<span class="skill-level">{{level}}</span>{{/if}}
            </h3>
          {{/if}}
          {{#if keywords.length}}
            <ul>
              {{#each keywords}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      {{/each}}
    </section>
    <div class="clearfix"></div>
  </section>
{{/if}}
