{{#resume.basics}}
  {{#if summary}}
    <section class="resume-section subAbout">
      <section class="sectionLeft">
        <h2 id="about-title" class="resumeSection">Summary</h2>
      </section>
      <section class="sectionRight">
        <p class="about-me">{{{summary}}}</p>
      </section>
      <div class="clearfix"></div>
    </section>
  {{/if}}
{{/resume.basics}}